/* reset/main */
@import './components/variables.css';
@import './components/reset.css';
@import './components/layout.css';
/* 3rd party components */
@import './components/font-awesome.min.css';
/* your components */
@import './components/button.css';
@import './components/counter.css';
@import './components/faq.css';
@import './components/features.css';
@import './components/footer.css';
@import './components/form.css';
@import './components/gallery.css';
@import './components/header.css';
@import './components/hero-home.css';
@import './components/pricing.css';
@import './components/slider.css';
@import './components/testimonials.css';
@import './components/portfolio-design.css';

/*
***********************************************
CUSTOM HOME PAGE STYLES GOES BELOW THIS COMMENT
***********************************************
*/

/* main style */
.bg-main-color {
    background-color: var(--main-color);
}

h2 {
    font-size: 44px;
    line-height: 50px;
    color: #111;
}
p {
    font-size: 17px;
    line-height: 20px;
    color: #555;
}
/* header */
/* hero */


/* features */
/* app promo */
/* app promo 2 */
/* how works */
/* gallery */
/* testimonials */
/* pricing */
/* faq */
/* team */
/* app store */
/* subscribe */
/* contact */
/* footer */