.features .label {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px #0003;
}

.features .block {
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px #00000030;
}
    .features .block > img {
        height: 40px;
        margin-bottom: 20px;
    }
    .features .block > h3 {
        margin-bottom: 20px;
    }