.testimonial {
    display: inline-block;
    width: 100%;
}
    .testimonial > .avatar {
        display: inline-block;
        width: 100px;
        height: 100px;
        margin-bottom: 30px;
        object-fit: contain;
        object-position: center;
        border-radius: 50%;
        border: 1px solid #ddd;
    }
    .testimonial > .name {
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
    }
    .testimonial > .location {
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
    }
    .testimonial > .stars {
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
        color: orange;
    }
    .testimonial > .description {
        display: inline-block;
        width: 100%;
    }